{
	"plugins": [
		[
			"module-resolver",
			{
				"alias": {
					"#app": "./src/app",
					"#core": "./src/core",
					"#hooks": "./src/hooks",
					"#library": "./src/library",
					"#store": "./src/store"
				},
				"root": ["./src"]
			}
		]
	],
	"presets": ["@babel/preset-env", "@babel/preset-react"]
}
